# Виртуальные окружения
.venv/
.venv_linux/
.idea


# Данные и изображения
data/Исходные данные
data/Размеченные данные
*.png
*.jpg
*.jpeg
**/test/

# Сборки и кэш
__pycache__/
*.pyc

# Локальные файлы проекта
ai/Diplom_v2-1/
ai/Diplom_v3-1/
**/.gradio/
